@charset "UTF-8";
/* Element norm Variables */
:root {
  --el-color-white: #ffffff;
  --el-color-black: #000000;
}

:root {
  color-scheme: light;
  --el-color-theme: #008Afe;
  --el-color-theme-light-3: #4dadfe;
  --el-color-theme-light-5: #80c5ff;
  --el-color-theme-light-7: #b3dcff;
  --el-color-theme-light-8: #cce8ff;
  --el-color-theme-light-9: #e6f3ff;
  --el-color-theme-dark-2: #006ecb;
  --el-color-primary: #008Afe;
  --el-color-primary-light-3: #4dadfe;
  --el-color-primary-light-5: #80c5ff;
  --el-color-primary-light-7: #b3dcff;
  --el-color-primary-light-8: #cce8ff;
  --el-color-primary-light-9: #e6f3ff;
  --el-color-primary-dark-2: #006ecb;
  --el-color-success: #67c23a;
  --el-color-success-light-3: #95d475;
  --el-color-success-light-5: #b3e19d;
  --el-color-success-light-7: #d1edc4;
  --el-color-success-light-8: #e1f3d8;
  --el-color-success-light-9: #f0f9eb;
  --el-color-success-dark-2: #529b2e;
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: #eebe77;
  --el-color-warning-light-5: #f3d19e;
  --el-color-warning-light-7: #f8e3c5;
  --el-color-warning-light-8: #faecd8;
  --el-color-warning-light-9: #fdf6ec;
  --el-color-warning-dark-2: #b88230;
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: #f89898;
  --el-color-danger-light-5: #fab6b6;
  --el-color-danger-light-7: #fcd3d3;
  --el-color-danger-light-8: #fde2e2;
  --el-color-danger-light-9: #fef0f0;
  --el-color-danger-dark-2: #c45656;
  --el-color-error: #f56c6c;
  --el-color-error-light-3: #f89898;
  --el-color-error-light-5: #fab6b6;
  --el-color-error-light-7: #fcd3d3;
  --el-color-error-light-8: #fde2e2;
  --el-color-error-light-9: #fef0f0;
  --el-color-error-dark-2: #c45656;
  --el-color-info: #999999;
  --el-color-info-light-3: #b8b8b8;
  --el-color-info-light-5: #cccccc;
  --el-color-info-light-7: #e0e0e0;
  --el-color-info-light-8: #ebebeb;
  --el-color-info-light-9: whitesmoke;
  --el-color-info-dark-2: #7a7a7a;
  --el-color-link: #008Afe;
  --el-color-link-light-3: #4dadfe;
  --el-color-link-light-5: #80c5ff;
  --el-color-link-light-7: #b3dcff;
  --el-color-link-light-8: #cce8ff;
  --el-color-link-light-9: #e6f3ff;
  --el-color-link-dark-2: #006ecb;
  --el-color-bg: #f8f8f8;
  --el-color-bg-light-3: #fafafa;
  --el-color-bg-light-5: #fcfcfc;
  --el-color-bg-light-7: #fdfdfd;
  --el-color-bg-light-8: #fefefe;
  --el-color-bg-light-9: #fefefe;
  --el-color-bg-dark-2: #c6c6c6;
  --el-bg-color: #ffffff;
  --el-bg-color-page: #f2f3f5;
  --el-bg-color-overlay: #ffffff;
  --el-text-color-primary: #333333;
  --el-text-color-regular: #666666;
  --el-text-color-secondary: #999999;
  --el-text-color-placeholder: #a8abb2;
  --el-text-color-disabled: #c0c4cc;
  --el-border-color: #dcdfe6;
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #ebeef5;
  --el-border-color-extra-light: #f2f6fc;
  --el-border-color-dark: #d4d7de;
  --el-border-color-darker: #cdd0d6;
  --el-fill-color: #f0f2f5;
  --el-fill-color-light: #f5f7fa;
  --el-fill-color-lighter: #fafafa;
  --el-fill-color-extra-light: #fafcff;
  --el-fill-color-dark: #ebedf0;
  --el-fill-color-darker: #e6e8eb;
  --el-fill-color-blank: #ffffff;
  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --el-disabled-bg-color: var(--el-fill-color-light);
  --el-disabled-text-color: var(--el-text-color-placeholder);
  --el-disabled-border-color: var(--el-border-color-light);
  --el-overlay-color: rgba(0, 0, 0, 0.8);
  --el-overlay-color-light: rgba(0, 0, 0, 0.7);
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --el-mask-color: rgba(255, 255, 255, 0.9);
  --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --el-border-width: 1px;
  --el-border-style: solid;
  --el-border-color-hover: var(--el-text-color-disabled);
  --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);
}

/**
* 全局样式文件
* 引入 reset.scss 文件，并根据项目情况添加一些全局可用的原子类
*/
html {
  line-height: 1.5;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: hidden;
  color: #303030;
}

body {
  margin: 0;
  line-height: inherit;
}

html,
body {
  height: 100%;
}

#app {
  position: relative;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

.el-form--inline .el-form-item {
  margin-bottom: 0;
}

.el-input, .el-select {
  min-width: 120px;
}

.el-form .el-form-item:last-child {
  margin-bottom: 0;
}

/* 消退 fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* 滑动 fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* 底部消退 fade-bottom */
.fade-bottom-enter-active,
.fade-bottom-leave-active {
  transition: opacity 0.25s, transform 0.3s;
}

.fade-bottom-enter-from {
  opacity: 0;
  transform: translateY(-10%);
}

.fade-bottom-leave-to {
  opacity: 0;
  transform: translateY(10%);
}

/* 缩放消退 fade-scale */
.fade-scale-leave-active,
.fade-scale-enter-active {
  transition: all 0.28s;
}

.fade-scale-enter-from {
  opacity: 0;
  transform: scale(1.2);
}

.fade-scale-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

/* 渐变 zoom-fade */
.zoom-fade-enter-active,
.zoom-fade-leave-active {
  transition: transform 0.2s, opacity 0.3s ease-out;
}

.zoom-fade-enter-from {
  opacity: 0;
  transform: scale(0.92);
}

.zoom-fade-leave-to {
  opacity: 0;
  transform: scale(1.06);
}

/* 闪现 zoom-out */
.zoom-out-enter-active,
.zoom-out-leave-active {
  transition: opacity 0.1s ease-in-out, transform 0.15s ease-out;
}

.zoom-out-enter-from,
.zoom-out-leave-to {
  opacity: 0;
  transform: scale(0);
}

.h-grid .vxe-grid--toolbar-wrapper .h-grid-toolbar .h-grid-toolbar-right .el-form--inline .el-form-item:last-child {
  margin-right: 0;
}
.h-grid .vxe-grid--toolbar-wrapper .h-grid-toolbar .h-grid-toolbar-right > *,
.h-grid .vxe-grid--toolbar-wrapper .h-grid-toolbar .h-grid-toolbar-left > * {
  margin-bottom: 12px;
}
.h-grid .vxe-grid--toolbar-wrapper .h-grid-toolbar.--flex {
  display: flex;
  justify-content: space-between;
}
.h-grid .vxe-table--render-default .vxe-cell {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.h-grid .vxe-table--render-default .vxe-table--header-wrapper {
  background-color: #ffffff;
}
.h-grid .vxe-table--render-default:not([class*=size--]) .vxe-header--column {
  font-size: 16px;
  color: #606266;
  font-weight: bold;
  padding: 15px 0;
}
.h-grid .vxe-table--render-default:not([class*=size--]) .vxe-body--column {
  padding: 14px 0;
}
.h-grid .vxe-table--render-default.border--default .vxe-body--column,
.h-grid .vxe-table--render-default.border--default .vxe-footer--column,
.h-grid .vxe-table--render-default.border--default .vxe-header--column, .h-grid .vxe-table--render-default.border--inner .vxe-body--column,
.h-grid .vxe-table--render-default.border--inner .vxe-footer--column,
.h-grid .vxe-table--render-default.border--inner .vxe-header--column {
  background-image: linear-gradient(#f5f5f5, #f5f5f5);
}
.h-grid .vxe-table--render-default .vxe-table--border-line {
  border: none;
}
.h-grid .vxe-table .vxe-table--header-wrapper .vxe-table--header-border-line {
  background-image: linear-gradient(#f5f5f5, #f5f5f5);
  border-bottom: 1px solid #f5f5f5;
}
.h-grid .vxe-table .vxe-sort--asc-btn,
.h-grid .vxe-table .vxe-sort--desc-btn {
  color: rgba(95, 95, 95, 0.1);
}
.h-grid .vxe-table .vxe-sort--asc-btn.sort--active,
.h-grid .vxe-table .vxe-sort--desc-btn.sort--active {
  color: #9f9f9f;
}
.h-grid .vxe-pager {
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  padding: 16px 30px;
  height: auto;
}
.h-grid .vxe-pager .vxe-pager--total {
  position: absolute;
  top: 20px;
  left: 30px;
}
.h-grid .vxe-pager.is--background, .h-grid .vxe-pager.is--perfect {
  border: none;
}
.h-grid .vxe-pager.is--background .vxe-pager--jump-next,
.h-grid .vxe-pager.is--background .vxe-pager--jump-prev,
.h-grid .vxe-pager.is--background .vxe-pager--num-btn, .h-grid .vxe-pager.is--perfect .vxe-pager--jump-next,
.h-grid .vxe-pager.is--perfect .vxe-pager--jump-prev,
.h-grid .vxe-pager.is--perfect .vxe-pager--num-btn {
  background-color: #ffffff;
  border-color: #dcdcdc;
}
.h-grid .vxe-pager.is--background .vxe-pager--jump-next:hover, .h-grid .vxe-pager.is--background .vxe-pager--jump-next:focus,
.h-grid .vxe-pager.is--background .vxe-pager--jump-prev:hover,
.h-grid .vxe-pager.is--background .vxe-pager--jump-prev:focus,
.h-grid .vxe-pager.is--background .vxe-pager--num-btn:hover,
.h-grid .vxe-pager.is--background .vxe-pager--num-btn:focus, .h-grid .vxe-pager.is--perfect .vxe-pager--jump-next:hover, .h-grid .vxe-pager.is--perfect .vxe-pager--jump-next:focus,
.h-grid .vxe-pager.is--perfect .vxe-pager--jump-prev:hover,
.h-grid .vxe-pager.is--perfect .vxe-pager--jump-prev:focus,
.h-grid .vxe-pager.is--perfect .vxe-pager--num-btn:hover,
.h-grid .vxe-pager.is--perfect .vxe-pager--num-btn:focus {
  color: #5399ec;
}
.h-grid .vxe-pager.is--background .vxe-pager--jump-next:not(.is--disabled).is--active,
.h-grid .vxe-pager.is--background .vxe-pager--jump-prev:not(.is--disabled).is--active,
.h-grid .vxe-pager.is--background .vxe-pager--num-btn:not(.is--disabled).is--active, .h-grid .vxe-pager.is--perfect .vxe-pager--jump-next:not(.is--disabled).is--active,
.h-grid .vxe-pager.is--perfect .vxe-pager--jump-prev:not(.is--disabled).is--active,
.h-grid .vxe-pager.is--perfect .vxe-pager--num-btn:not(.is--disabled).is--active {
  background-color: #ffffff;
  border: 1px solid #5399ec;
  color: #5399ec;
}

:root {
  --primary-color: 24, 144, 255;
  --aside-width: 220px;
  --header-height: 56px;
  --footer-height: 0;
}

.layout-container {
  position: relative;
}

.layout-header {
  height: var(--header-height);
  position: absolute;
  top: 0;
  left: var(--aside-width);
  right: 0;
  box-shadow: 0 1px 2px rgba(0, 21, 41, 0.08);
}

.layout-footer {
  height: var(--footer-height);
  position: absolute;
  left: var(--aside-width);
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-aside {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: var(--aside-width);
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
}

.layout-main {
  position: absolute;
  top: var(--header-height);
  left: var(--aside-width);
  right: 0;
  bottom: var(--footer-height);
}

.layout-breadcrumb .el-button {
  padding: 4px;
}
.layout-breadcrumb .el-breadcrumb__separator {
  margin: 0 6px;
}

.layout-logo {
  height: var(--header-height);
}

.layout-menu.el-menu {
  border-right: 0;
}
.layout-menu .el-menu-item.is-active {
  font-weight: bold;
  background-color: #d9ecff;
}

/*主题样式*/
h1 {
  margin: 0;
  line-height: 1.5;
  font-size: 20px;
  font-weight: normal;
  color: var(--el-text-color-regular);
}
h1.is-bold {
  font-weight: 800;
}

h1.is-mid {
  font-weight: 600;
}

h2 {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: normal;
  color: var(--el-text-color-regular);
}
h2.is-bold {
  font-weight: 800;
}

h2.is-mid {
  font-weight: 600;
}

h3 {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
  color: var(--el-text-color-regular);
}
h3.is-bold {
  font-weight: 800;
}

h3.is-mid {
  font-weight: 600;
}

h4 {
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: normal;
  color: var(--el-text-color-regular);
}
h4.is-bold {
  font-weight: 800;
}

h4.is-mid {
  font-weight: 600;
}

h5 {
  margin: 0;
  line-height: 1.5;
  font-size: 12px;
  font-weight: normal;
  color: var(--el-text-color-regular);
}
h5.is-bold {
  font-weight: 800;
}

h5.is-mid {
  font-weight: 600;
}

.el-flex {
  display: flex;
}
.el-flex.is-center {
  align-items: center;
  justify-content: center;
}

.el-flex.is-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.el-flex.is-end {
  align-items: flex-end;
  justify-content: flex-end;
}

.el-flex.is-center-start {
  align-items: center;
  justify-content: flex-start;
}

.el-flex.is-center-between {
  align-items: center;
  justify-content: space-between;
}

.el-flex.is-center-end {
  align-items: center;
  justify-content: flex-end;
}

.el-flex.is-start-center {
  align-items: flex-start;
  justify-content: center;
}

.el-flex.is-start-between {
  align-items: flex-start;
  justify-content: space-between;
}

.el-flex.is-start-end {
  align-items: flex-start;
  justify-content: flex-end;
}

.el-flex.is-end-start {
  align-items: flex-end;
  justify-content: flex-start;
}

.el-flex.is-end-center {
  align-items: flex-end;
  justify-content: center;
}

.el-flex.is-end-between {
  align-items: flex-end;
  justify-content: space-between;
}

.el-flex.is-align-center {
  align-items: center;
}

.el-flex.is-align-start {
  align-items: flex-start;
}

.el-flex.is-align-end {
  align-items: flex-end;
}

.el-flex.is-justify-center {
  justify-content: center;
}

.el-flex.is-justify-between {
  justify-content: space-between;
}

.el-flex.is-justify-start {
  justify-content: flex-start;
}

.el-flex.is-justify-end {
  justify-content: flex-end;
}

.el-flex.is-wrap {
  flex-wrap: wrap;
}

.el-flex.is-column {
  flex-direction: column;
}

.el-flex.is-row {
  flex-direction: row;
}

.el-line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.el-line2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.el-line3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.el-line4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.el-line5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.el-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
}

.el-round {
  border-radius: 8px;
}
.el-round.is-mini {
  border-radius: 4px;
  overflow: hidden;
}

.el-round.is-small {
  border-radius: 6px;
  overflow: hidden;
}

.el-round.is-large {
  border-radius: 12px;
  overflow: hidden;
}

.el-text--left {
  text-align: left !important;
}

.el-text--center {
  text-align: center !important;
}

.el-text--right {
  text-align: right !important;
}

.el-border {
  border: 1px solid;
}
.el-border.is-dashed {
  border-style: dashed;
}

.el-border.is-dotted {
  border-style: dotted;
}

.el-border--top {
  border: 0;
  border-top: 1px solid;
}
.el-border--top.is-dashed {
  border-style: dashed;
}

.el-border--top.is-dotted {
  border-style: dotted;
}

.el-border--right {
  border: 0;
  border-right: 1px solid;
}
.el-border--right.is-dashed {
  border-style: dashed;
}

.el-border--right.is-dotted {
  border-style: dotted;
}

.el-border--bottom {
  border: 0;
  border-bottom: 1px solid;
}
.el-border--bottom.is-dashed {
  border-style: dashed;
}

.el-border--bottom.is-dotted {
  border-style: dotted;
}

.el-border--left {
  border: 0;
  border-left: 1px solid;
}
.el-border--left.is-dashed {
  border-style: dashed;
}

.el-border--left.is-dotted {
  border-style: dotted;
}

.el-card {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
}
.el-card.is-small {
  border-radius: 6px;
}

.el-card.is-mini {
  border-radius: 4px;
}

.el-required::before {
  content: "*";
  margin-right: 2px;
  color: var(--el-color-danger);
}

body {
  background-color: var(--el-color-bg);
}

.el-text--theme {
  color: var(--el-color-theme);
}

.el-text--darkgrey {
  color: var(--el-color-black);
}

.el-text--default {
  color: var(--el-text-color-regular);
}

.el-text--primary {
  color: var(--el-color-primary);
}

.el-text--danger {
  color: var(--el-color-danger);
}

.el-text--warning {
  color: var(--el-color-warning);
}

.el-text--success {
  color: var(--el-color-success);
}

.el-text--link {
  color: var(--el-color-link);
}

.el-text--info {
  color: var(--el-color-info);
}

.el-text--tips {
  color: var(--el-text-color-placeholder);
}

.el-text--white {
  color: var(--el-color-white);
}

.el-fill--theme {
  fill: var(--el-color-theme);
}

.el-fill--darkgrey {
  fill: var(--el-color-black);
}

.el-fill--default {
  fill: var(--el-text-color-regular);
}

.el-fill--primary {
  fill: var(--el-color-primary);
}

.el-fill--danger {
  fill: var(--el-color-danger);
}

.el-fill--warning {
  fill: var(--el-color-warning);
}

.el-fill--success {
  fill: var(--el-color-success);
}

.el-fill--link {
  fill: var(--el-color-link);
}

.el-fill--info {
  fill: var(--el-color-info);
}

.el-fill--tips {
  fill: var(--el-text-color-placeholder);
}

.el-fill--white {
  fill: var(--el-color-white);
}

.el-bg--theme {
  background-color: var(--el-color-theme);
}

.el-bg--primary {
  background-color: var(--el-color-primary);
}

.el-bg--danger {
  background-color: var(--el-color-danger);
}

.el-bg--warning {
  background-color: var(--el-color-warning);
}

.el-bg--success {
  background-color: var(--el-color-success);
}

.el-bg--white {
  background-color: var(--el-color-white);
}

.el-bg--grey {
  background-color: var(--el-color-bg);
}

.el-bg--tips {
  background-color: var(--el-text-color-placeholder);
}

.el-border {
  border-color: var(--el-border-color);
  stroke: var(--el-border-color);
}
.el-border.is-primary {
  border-color: var(--el-color-primary);
  stroke: var(--el-color-primary);
}

.el-border.is-danger {
  border-color: var(--el-color-danger);
  stroke: var(--el-color-danger);
}

.el-border.is-success {
  border-color: var(--el-color-success);
  stroke: var(--el-color-success);
}

.el-border.is-theme {
  border-color: var(--el-color-theme);
  stroke: var(--el-color-theme);
}

.el-border--top {
  border-color: var(--el-border-color);
  stroke: var(--el-border-color);
}
.el-border--top.is-dark {
  border-color: var(--el-border-color);
  stroke: var(--el-border-color);
}

.el-border--top.is-primary {
  border-color: var(--el-color-primary);
  stroke: var(--el-color-primary);
}

.el-border--top.is-danger {
  border-color: var(--el-color-danger);
  stroke: var(--el-color-danger);
}

.el-border--top.is-success {
  border-color: var(--el-color-success);
  stroke: var(--el-color-success);
}

.el-border--top.is-theme {
  border-color: var(--el-color-theme);
  stroke: var(--el-color-theme);
}

.el-border--right {
  border-color: var(--el-border-color);
  stroke: var(--el-border-color);
}
.el-border--right.is-dark {
  border-color: var(--el-border-color);
  stroke: var(--el-border-color);
}

.el-border--right.is-primary {
  border-color: var(--el-color-primary);
  stroke: var(--el-color-primary);
}

.el-border--right.is-danger {
  border-color: var(--el-color-danger);
  stroke: var(--el-color-danger);
}

.el-border--right.is-success {
  border-color: var(--el-color-success);
  stroke: var(--el-color-success);
}

.el-border--right.is-theme {
  border-color: var(--el-color-theme);
  stroke: var(--el-color-theme);
}

.el-border--bottom {
  border-color: var(--el-border-color);
  stroke: var(--el-border-color);
}
.el-border--bottom.is-dark {
  border-color: var(--el-border-color);
  stroke: var(--el-border-color);
}

.el-border--bottom.is-primary {
  border-color: var(--el-color-primary);
  stroke: var(--el-color-primary);
}

.el-border--bottom.is-danger {
  border-color: var(--el-color-danger);
  stroke: var(--el-color-danger);
}

.el-border--bottom.is-success {
  border-color: var(--el-color-success);
  stroke: var(--el-color-success);
}

.el-border--bottom.is-theme {
  border-color: var(--el-color-theme);
  stroke: var(--el-color-theme);
}

.el-border--left {
  border-color: var(--el-border-color);
  stroke: var(--el-border-color);
}
.el-border--left.is-dark {
  border-color: var(--el-border-color);
  stroke: var(--el-border-color);
}

.el-border--left.is-primary {
  border-color: var(--el-color-primary);
  stroke: var(--el-color-primary);
}

.el-border--left.is-danger {
  border-color: var(--el-color-danger);
  stroke: var(--el-color-danger);
}

.el-border--left.is-success {
  border-color: var(--el-color-success);
  stroke: var(--el-color-success);
}

.el-border--left.is-theme {
  border-color: var(--el-color-theme);
  stroke: var(--el-color-theme);
}

.el-card {
  background-color: var(--el-color-white);
}
.el-card.is-grey {
  background-color: var(--el-color-bg);
}

.el-form.el-form--inline .el-form-item:last-child {
  margin-right: 0;
}