/* Element Chalk Variables */
h1 {
  margin: 0;
  line-height: 1.5;
  font-size: 20px;
  font-weight: normal;
  color: getCssVar("text-color", "regular");
}
h1.is-bold {
  font-weight: 800;
}

h1.is-mid {
  font-weight: 600;
}

h2 {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: normal;
  color: getCssVar("text-color", "regular");
}
h2.is-bold {
  font-weight: 800;
}

h2.is-mid {
  font-weight: 600;
}

h3 {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
  color: getCssVar("text-color", "regular");
}
h3.is-bold {
  font-weight: 800;
}

h3.is-mid {
  font-weight: 600;
}

h4 {
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: normal;
  color: getCssVar("text-color", "regular");
}
h4.is-bold {
  font-weight: 800;
}

h4.is-mid {
  font-weight: 600;
}

h5 {
  margin: 0;
  line-height: 1.5;
  font-size: 12px;
  font-weight: normal;
  color: getCssVar("text-color", "regular");
}
h5.is-bold {
  font-weight: 800;
}

h5.is-mid {
  font-weight: 600;
}

.el-flex {
  display: flex;
}
.el-flex.is-center {
  align-items: center;
  justify-content: center;
}

.el-flex.is-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.el-flex.is-end {
  align-items: flex-end;
  justify-content: flex-end;
}

.el-flex.is-center-start {
  align-items: center;
  justify-content: flex-start;
}

.el-flex.is-center-between {
  align-items: center;
  justify-content: space-between;
}

.el-flex.is-center-end {
  align-items: center;
  justify-content: flex-end;
}

.el-flex.is-start-center {
  align-items: flex-start;
  justify-content: center;
}

.el-flex.is-start-between {
  align-items: flex-start;
  justify-content: space-between;
}

.el-flex.is-start-end {
  align-items: flex-start;
  justify-content: flex-end;
}

.el-flex.is-end-start {
  align-items: flex-end;
  justify-content: flex-start;
}

.el-flex.is-end-center {
  align-items: flex-end;
  justify-content: center;
}

.el-flex.is-end-between {
  align-items: flex-end;
  justify-content: space-between;
}

.el-flex.is-align-center {
  align-items: center;
}

.el-flex.is-align-start {
  align-items: flex-start;
}

.el-flex.is-align-end {
  align-items: flex-end;
}

.el-flex.is-justify-center {
  justify-content: center;
}

.el-flex.is-justify-between {
  justify-content: space-between;
}

.el-flex.is-justify-start {
  justify-content: flex-start;
}

.el-flex.is-justify-end {
  justify-content: flex-end;
}

.el-flex.is-wrap {
  flex-wrap: wrap;
}

.el-flex.is-column {
  flex-direction: column;
}

.el-flex.is-row {
  flex-direction: row;
}

.el-line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.el-line2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.el-line3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.el-line4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.el-line5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.el-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
}

.el-round {
  border-radius: 8px;
}
.el-round.is-mini {
  border-radius: 4px;
  overflow: hidden;
}

.el-round.is-small {
  border-radius: 6px;
  overflow: hidden;
}

.el-round.is-large {
  border-radius: 12px;
  overflow: hidden;
}

.el-text--left {
  text-align: left !important;
}

.el-text--center {
  text-align: center !important;
}

.el-text--right {
  text-align: right !important;
}

.el-border {
  border: 1px solid;
}
.el-border.is-dashed {
  border-style: dashed;
}

.el-border.is-dotted {
  border-style: dotted;
}

.el-border--top {
  border: 0;
  border-top: 1px solid;
}
.el-border--top.is-dashed {
  border-style: dashed;
}

.el-border--top.is-dotted {
  border-style: dotted;
}

.el-border--right {
  border: 0;
  border-right: 1px solid;
}
.el-border--right.is-dashed {
  border-style: dashed;
}

.el-border--right.is-dotted {
  border-style: dotted;
}

.el-border--bottom {
  border: 0;
  border-bottom: 1px solid;
}
.el-border--bottom.is-dashed {
  border-style: dashed;
}

.el-border--bottom.is-dotted {
  border-style: dotted;
}

.el-border--left {
  border: 0;
  border-left: 1px solid;
}
.el-border--left.is-dashed {
  border-style: dashed;
}

.el-border--left.is-dotted {
  border-style: dotted;
}

.el-card {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.13);
}
.el-card.is-small {
  border-radius: 6px;
}

.el-card.is-mini {
  border-radius: 4px;
}

.el-required::before {
  content: "*";
  margin-right: 2px;
  color: getCssVar("color", "danger");
}